{% extends "base.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% block content %}
{{ govukBackLink({
    text: t('common.back'),
    href: backUrl
}) }}
<form data-testid="make-a-decision" method="post" action="/applications/{{ applicationId }}/decision">
<input type="hidden" name="_csrf" value="{{csrfToken}}" />
    <h1 class="govuk-heading-l">{{ t('pages.merits.header') }}</h1>
    <h2 class="govuk-heading-m">{{ applicationId }}</h2>
    <p class="govuk-body">{{ t('pages.merits.extraDetail') }}</p>
    {{ govukSummaryList({
        card: {
            title: {
                text: t('pages.merits.proceedingsOverview.title')
            }
        },
        rows: [
            {
                key: {
                    text: t('pages.merits.proceedingsOverview.certificateTypeTitle')
                },
                value: {
                    html: certificateType
                }
            },
            {
                key: {
                    text: t('pages.merits.proceedingsOverview.meritsAssessmentTitle')
                },
                value: {
                    html: govukTag({
                        text: meritsAssessment
                    })
                }
            }
        ]}) 
    }}
    {{ govukRadios({
    name: "overall-decision",
    fieldset: {
        legend: {
            text: t('pages.merits.radio.label'),
            classes: "govuk-fieldset__legend--m"
        }
    },
    items: [
        {
            value: "Grant",
            text: t('pages.merits.radio.grantLabel')
        },
        {
            value: "refuse",
            text: t('pages.merits.radio.refuseLabel')
        }
    ]
    }) }}
    {{ govukButton({
        text: "Continue"
    }) }}
</form>

{% endblock %}