{% extends "base.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

    {{ govukBackLink({
        text: "Back",
        href: "#"
    }) }}

    <h1 class="govuk-heading-xl">{{ applicationId }}</h1>

    {% set applicationDetailsHtml %}
        <h2 class="govuk-heading-m">Overview</h2>
        {{ govukSummaryList({
            rows: [
                {
                    key: { text: "Application type" },
                    value: { text: "test" }
                },
                {
                    key: { text: "Certificate type" },
                    value: { text: "test" }
                },
                {
                    key: { text: "Merits application" },
                    value: { text: "test" }
                }
            ]
        }) }}
        <h2 class="govuk-heading-m">Proceedings</h2>
        {{ govukSummaryList({
            card: {
                title: {
                    text: "1. Inquest"
                }
            },
            rows: [
                {
                    key: { text: "Client role" },
                    value: { text: "test" }
                },
                {
                    key: { text: "Level of service" },
                    value: { text: "test" }
                },
                {
                    key: { text: "Scope limitation" },
                    value: { text: "test" }
                },
                {
                    key: { text: "Cost limit" },
                    value: { text: "test" }
                }
            ]
        }) }}
        <h2 class="govuk-heading-m">Uploaded evidence</h2>
        {{ govukSummaryList({
            card: {
                title: {
                    text: "Supporting evidence"
                }
            },
            rows: [
                {
                    key: { text: "Coroners letter" },
                    value: { html: '<a href="#">Inquest ABC Coroners letter.pdf</a>' }
                }
            ]
        }) }}        
        {{ govukButton({
            text: "Make assessment",
            href: "/applications/" ~ applicationId ~ "/decision"
        }) }}
    {% endset %}

    {{ govukTabs({
        items: [
            {
                label: "Application details",
                id: "application-details",
                panel: { html: applicationDetailsHtml }
            },
            {
                label: "People",
                id: "people",
                panel: { html: "" }
            },
            {
                label: "History",
                id: "history",
                panel: { html: "" }
            }
        ]
    }) }}

{% endblock %}