{% extends "layouts/page-with-back-link.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageContent %}
    

    <div class="certificate-view">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Civil Legal Aid Certificate</h1>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    <strong>Client:</strong> placeholder
                    <br/>
                    <strong>LAA Reference number:</strong> placeholder
                    <br/>
                    <strong>Date created:</strong> placeholder
                </p>
            </div>
            <section class="overview">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <h2 class="govuk-heading-l">Overview</h2>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <div class="certificate-details-table">
                            {{ govukSummaryList({
                                card: {
                                    title: {
                                        text: "Certificate details"
                                    }
                                },
                                rows: [
                                {
                                    key: {
                                        text: "Client name"
                                    },
                                    value: {
                                        text: "placeholder"
                                    }
                                },
                                {
                                    key: {
                                        text: "Client address"
                                    },
                                    value: {
                                        text: "placeholder"
                                    }
                                },
                                {
                                    key: {
                                        text: "Firm name"
                                    },
                                    value: {
                                        text: "placeholder"
                                    }
                                },
                                {
                                    key: {
                                        text: "Office address"
                                    },
                                    value: {
                                        text: "placeholder"
                                    }
                                },
                                {
                                    key: {
                                        text: "Opponent details"
                                    },
                                    value: {
                                        text: "placeholder"
                                    }
                                },
                                {
                                    key: {
                                        text: "Guardian name"
                                    },
                                    value: {
                                        text: "placeholder"
                                    }
                                },
                                {
                                    key: {
                                        text: "Guardian address"
                                    },
                                    value: {
                                        text: "placeholder"
                                    }
                                }]
                            }) }}
                        </div>
                    </div>
                </div>
                <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds">
                            <div class="certificate-summary-table">
                                {{ govukSummaryList({
                                card: {
                                    title: {
                                        text: "Certificate summary"
                                    }
                                },
                                rows: [
                                {
                                    key: {
                                        text: "Certificate type"
                                    },
                                    value: {
                                        text: "placeholder"
                                    }
                                },
                                {
                                    key: {
                                        text: "Status"
                                    },
                                    value: {
                                        text: "placeholder"
                                    }
                                },
                                {
                                    key: {
                                        text: "Effective date"
                                    },
                                    value: {
                                        text: "placeholder"
                                    }
                                },
                                {
                                    key: {
                                        text: "End date"
                                    },
                                    value: {
                                        text: "placeholder"
                                    }
                                },
                                {
                                    key: {
                                        text: "Reinstatement date"
                                    },
                                    value: {
                                        text: "placeholder"
                                    }
                                },
                                {
                                    key: {
                                        text: "Cost limitation"
                                    },
                                    value: {
                                        text: "placeholder"
                                    }
                                },
                                {
                                    key: {
                                        text: "Cost limitation effective date"
                                    },
                                    value: {
                                        text: "placeholder"
                                    }
                                },
                                {
                                    key: {
                                        text: "Certificate limitation"
                                    },
                                    value: {
                                        text: "placeholder"
                                    }
                                }]
                            }) }}
                            </div>
                        </div>
                    </div>
            </section>
        </div>
    <div/>
{% endblock %}