{% extends "layouts/page-with-back-link.njk" %}


{% set pageTitle = t('pages.applicationSearch.pageTitle') %}
{% set backUrl = "/" %}

{% block pageContent %}
    <h1 class="govuk-heading-xl">{{t('pages.applicationSearch.pageHeading')}}
{% endblock %}