{% extends "layouts/page-with-back-link.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}



{% set pageTitle = t('pages.applicationSearch.pageTitle') %}
{% set backUrl = "/" %}

{% block pageContent %}
    <h1 class="govuk-heading-xl">{{t('pages.applicationSearch.pageHeading')}}</h1>
    <form data-testid="application-search-form" method="post" action="/applications/search">
        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            {{ govukInput({
              label: {
                text: t('pages.applicationSearch.legalAidReferenceLabel'),
                classes: "govuk-label--s"
              },
              hint: {
                text: t('pages.applicationSearch.legalAidReferenceHint')
              },
              id: "application-reference",
              name: "application-reference"
            }) }}
          </div>
          <div class="govuk-grid-column-one-third govuk-!-padding-top-5 govuk-!-margin-top-7">
            {{ govukButton({
              text: t('pages.applicationSearch.continueButton'),
              type: "submit"
            }) }}
          </div>
        </div>
      </form>


{% endblock %}