{% extends "layouts/page-with-back-link.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% set pageHeading = t("pages.applicationOverview.publicAuthority.title") %}
{% set pageTitle = pageHeading %}
{% set backUrl = backHref or "/applications/" ~ applicationId ~ "/overview" %}

{% block pageContent %}

  {% if errorSummaries.noPublicAuthoritySelected %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: errorSummaries.noPublicAuthoritySelected.text,
          href: '#publicAuthorityOption'
        }
      ]
    })
  }}
  {% elif errorSummaries.noChangeToPublicAuthorities %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: errorSummaries.noChangeToPublicAuthorities.text,
          href: '#publicAuthorityOption'
        }
      ]
    })
  }}
  {% endif %}

  <form data-testid="update-public-authorities-form" action="/applications/{{ applicationId }}/public-authorities" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />

    {{ govukCheckboxes({
    name: "publicAuthorityOption",
    fieldset: {
        legend: {
           text: pageHeading,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
        }
    },
    hint: {
        text: t("pages.applicationOverview.publicAuthority.search.hint")
    },
    errorMessage: errorSummaries.noPublicAuthoritySelected or errorSummaries.noChangeToPublicAuthorities,
    values: selectedPublicAuthorityIds if selectedPublicAuthorityIds else [],
    items: publicAuthorityOptions
    }) }}

    {{
      govukButton({
        text: "Continue"
      })
    }}
  </form>

{% endblock %}