{% macro meritsDecisionTag(value) %}
  {%- set upperValue = value | upper -%}
  {%- if upperValue == "REFUSED" -%}
    <strong class="govuk-tag govuk-tag--red">Refused</strong>
  {%- elif upperValue == "GRANTED" -%}
    <strong class="govuk-tag govuk-tag--green">Granted</strong>
  {%- else -%}
    {# TODO(IDDS-727): covers both PENDING and SUBMITTED; remove PENDING once the API only returns SUBMITTED #}
    <strong class="govuk-tag govuk-tag--blue">Submitted</strong>
  {%- endif -%}
{% endmacro %}
