{% extends "layouts/page-with-back-link.njk" %}

{% block pageContent %}
  <h1 class="govuk-heading-l">{{ t('pages.claimAssessmentConfirmation.heading') }}</h1>
  <p class="govuk-body">{{ t('pages.claimAssessmentConfirmation.body') }}</p>
{% endblock pageContent %}
