{% extends "base.njk" %}

{% block content %}
    <h1 class="govuk-heading-xl">{{ t('pages.reports.heading') }}</h1>

  {%- from "govuk/components/warning-text/macro.njk" import govukWarningText -%}

  {{ govukWarningText({
    text: t('pages.home.developerBanner.text'),
    iconFallbackText: t('pages.home.developerBanner.title')
  }) }}

    <p class="govuk-body">
      <a class="govuk-link" href="/reports/applications/backlog">{{ t('pages.reports.downloadApplicationsBacklogLink') }}</a>
    </p>

    <p class="govuk-body">
      <a class="govuk-link" href="/reports/claims/backlog">{{ t('pages.reports.downloadClaimsBacklogLink') }}</a>
    </p>
{% endblock %}